DB_URL=jdbc:mysql://localhost:3306/moola
DB_USERNAME=root
DB_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=900000

GROQ_KEY=
GROQ_URL=https://api.groq.com/openai/v1/chat/completions
FRANKFURTER_URL=https://api.frankfurter.dev/v2
